<div class='container'>
<h1><%= @restaurant.name %></h1>

<p><strong>Address:</strong> <%= @restaurant.address %></p>
<p><strong>Category:</strong> <%= @restaurant.category %></p>
</div><br>
<div class='container'>
<h2>Reviews</h2>
<ul>
  <% @reviews.each do |review| %>
    <li>
      <p><strong>Rating:</strong> <%= review.rating %></p>
      <p><strong>Comment:</strong> <%= review.content %></p>
      <br>
    </li>
  <% end %>
</ul>
<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
</div>
